body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 0;
}

.header {
    text-align: center; /* Выравнивание заголовка по центру (по желанию) */
    margin-bottom: 20px; /* Пример отступа между заголовком и изображениями */
}

.main-heading {
    font-weight: bold;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
}

.image-container img {
    width: calc(50% - 10px); /* 2 ряда по 3 изображения с небольшими отступами */
    height: auto;
    margin: 5px;
    border-radius: 10px; /* Закругленные углы */
}